*.gitignore text !filter !merge !diff
*.html text !filter !merge !diff
*.ttc text !filter !merge !diff
*.json text !filter !merge !diff
*.ico text !filter !merge !diff
*.png text !filter !merge !diff
*.svg text !filter !merge !diff
*.jpg text !filter !merge !diff
*.css text !filter !merge !diff
CNAME text !filter !merge !diff
* text !filter !merge !diff
*.mov filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.gif text !filter !merge !diff
