<header>
    <div id="hamMenu" onclick="openNav();invertLogo();hideFooter();">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <nav>
        <a href="/">Home</a>
        <a class="active" href="about">About</a>
        <a href="contact">Contact</a>
        <div class="font-size">
            Aa
            <button id="up" aria-label="Increase font size">+</button>
            <button id="down" aria-label="Decrease font size">-</button>
        </div>
    </nav>
    <a href="/"><img id="page_title" src=assets/img/landing/Logo.svg height=50></a>
    <div id="breadcrumbs_background"></div>
    <div id="breadcrumbs">
        <a href="#define">Define</a>
        <a href="#ideate">Ideate</a>
        <a href="#artifacts">Artifacts</a>
        <a href="#iterations">Iterations</a>
        <a href="#feedback">Feedback</a>
        <a href="#prototype">Prototype</a>
        <a href="#whats_next">What's Next</a>
    </div>
</header>